#root{
    background-image: linear-gradient(#bdc3c7, #2c3e50);
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
}
.FrontendForm{
    
    justify-content: center;
}
.formHeading{
    color: lemonchiffon;
    text-decoration: underline;
    font-weight: bolder;
}
.formLabel,.form-check-label{
    font-weight: bolder;
    color: antiquewhite;
}
.formfields{
    margin-top: 37px;
}
